pkgbase = manzar
	pkgdesc = A simple local image viewer
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/Abdirrahman/Manzar
	arch = x86_64
	license = MIT
	makedepends = bun
	makedepends = rust
	makedepends = cargo
	makedepends = curl
	makedepends = wget
	makedepends = file
	makedepends = git
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = openssl
	depends = appmenu-gtk-module
	depends = libappindicator
	depends = librsvg
	depends = xdotool
	depends = hicolor-icon-theme
	source = manzar-0.1.1.tar.gz::https://github.com/Abdirrahman/Manzar/archive/refs/tags/v0.1.1.tar.gz
	sha256sums = 16af1b84e63e61626a1809b26d22b1a579ca0b31dcab228bc569fa2f32756d62

pkgname = manzar
