pkgbase = manzar
	pkgdesc = A simple local image and video viewer
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/Abdirrahman/Manzar
	arch = x86_64
	license = MIT
	makedepends = bun
	makedepends = rust
	makedepends = cargo
	makedepends = curl
	makedepends = wget
	makedepends = file
	makedepends = git
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = openssl
	depends = appmenu-gtk-module
	depends = libappindicator
	depends = librsvg
	depends = xdotool
	depends = hicolor-icon-theme
	depends = gst-plugins-base
	depends = gst-plugins-good
	depends = gst-plugins-bad-libs
	depends = gst-libav
	source = manzar-0.1.3.tar.gz::https://github.com/Abdirrahman/Manzar/archive/refs/tags/v0.1.3.tar.gz
	sha256sums = 52101fc903a9638a477fdc60cc18e46ceeeb2f6561838c9a3b0cd02e0608a6cf

pkgname = manzar
